// Text colors
$black: #000000;
$grey-active: #A7A7A7;
$white: #FFFFFF;
$blue: #0874EF;
$pink: #FF6AA2;
$yellow: #FFC400;
$yellow-orange: #FF7E4D;

// Button colors
$orange: #FF9100;
$grey: #A7A7A7;

// Background colors

$grey-black: #1D1D1D;